@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

  body {
    display: flex;
    flex-direction: column;
  }
  
  body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid;
  }
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  
    grid-template:
      "header"0.5fr "main"auto "footer"0.3fr;
  }
  
  .header {
    grid-area: header;
    background-image: url(../assets/dia.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .main {
    grid-area: main;
  }
  
  .wrapper2 {
    position: fixed;
    width: 100%;
    background: linear-gradient(-135deg, #AF125E, #AF125E);
    z-index: 2;
  }
  
  .wrapper2 nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .content {
    display: flex;
    align-items: center;
  }
  
  nav .content .links {
    margin-left: 80px;
    display: flex;
  }
  
  .content .logo a {
    max-width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-right: 250px;
  }
  
  .content .links li {
    list-style: none;
    line-height: 70px;
  }
  
  .content .links li a,
  .content .links li label {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .content .links li label {
    display: none;
  }
  
  .content .links li a:hover,
  .content .links li label:hover {
    background: linear-gradient(-135deg, #AF125E, rgba(255, 255, 255, 0.63));
  }
  
  .wrapper2 .search-icon,
  .wrapper2 .menu-icon {
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  
  .wrapper2 .menu-icon {
    display: none;
  }
  
  .wrapper2 #show-search:checked~.search-icon i::before {
    content: "\f00d";
  }
  
  .wrapper2 .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .wrapper2 #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
  }
  
  .search-box input {
    width: 50%;
    height: 50%;
    border: #000000;
    border-radius: 50px;
    outline: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 0 100px 0 15px;
    position: absolute;
    top: 17px;
    left: 270px;
  }
  
  .search-box input::placeholder {
    color: #575757;
  }
  
  .search-box .go-icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .wrapper2 input[type="checkbox"] {
    display: none;
  }
  
  /* Dropdown Menu del Header*/
  .content .links ul {
    position: absolute;
    top: 80px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(-135deg, #AF125E, rgb(156, 0, 109));
  }
  
  .content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease;
  }
  
  .content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
  }
  
  .content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  
  .content .links ul li {
    position: relative;
  }
  
  .content .links ul li:hover ul {
    top: 0;
  }
  
  /* Cambios para Responsive */
  @media screen and (max-width: 1250px) {
    .wrapper2 nav {
      max-width: 100%;
      padding: 0 20px;
    }
  
    nav .content .links {
      margin-left: 30px;
    }
  
    .content .links li a {
      padding: 8px 13px;
    }
  
    .wrapper2 .search-box {
      max-width: calc(100% - 100px);
    }
  
    .wrapper2 .search-box input {
      padding: 0 100px 0 15px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .wrapper2 .menu-icon {
      display: block;
    }
  
    .wrapper2 #show-menu:checked~.menu-icon i::before {
      content: "\f00d";
    }
  
    nav .content .links {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
      background: linear-gradient(-135deg, #AF125E, rgb(156, 0, 109));
    }
  
    nav #show-menu:checked~.content .links {
      left: 0%;
    }
  
    .content .links li {
      margin: 15px 20px;
    }
  
    .content .links li a,
    .content .links li label {
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
  
    .content .links li a.desktop-link {
      display: none;
    }
  
    /* Dropdown del Responsive */
    .content .links ul,
    .content .links ul ul {
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
  
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
      max-height: 100vh;
    }
  
    .content .links ul li {
      margin: 7px 20px;
    }
  
    .content .links ul li a {
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px !important;
    }
  }
  
  @media screen and (max-width: 400px) {
    .wrapper2 nav {
      padding: 0 10px;
    }
  
    .content .logo a {
      font-size: 27px;
    }
  
    .wrapper2 .search-box {
      max-width: calc(100% - 70px);
    }
  
    .wrapper2 .search-box .go-icon {
      width: 30px;
      right: 0;
    }
  
    .wrapper2 .search-box input {
      padding-right: 30px;
    }
  }
  
  .header__login {
    position: absolute;
    top: 11px;
    left: 1225px;
    width: 50px;
    z-index: 3;
    position: fixed;
  }
  
  .header__cart {
    position: absolute;
    width: 50px;
    z-index: 3;
    top: 11px;
    left: 1150px;
    position: fixed;
  }
  
  /* Texto central */
  

 

.wrapper4__container{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 500px;
}

  .wrapper{
    width: 400px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper header{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
  }
  header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2,
  #tab-3:checked ~ header .tab-3{
    color: rgb(255, 255, 255);
  }
  header label:nth-child(2){
    width: 40%;
  }
  header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
    transition: all 0.5s ease;
  }
  #tab-1:checked ~ header .slider{
    left: 0%;
    width: 90px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ header .slider{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
  }
  #tab-3:checked ~ header .slider{
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
  }
  .wrapper input[type="radio"]{
    display: none;
  }
  .card-area{
    overflow: hidden;
  }
  .card-area .cards{
    display: flex;
    width: 300%;
  }
  .cards .row{
    width: 33.4%;
  }
  .cards .row-1{
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -33.4%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -66.8%;
  }
  .row .price-details{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  .price-details .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
  }
  .price-details .price::before,
  .price-details .price::after{
    position: absolute;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  .price-details .price::before{
    content: "$";
    left: -13px;
    top: 17px;
    font-size: 20px;
  }
  .price-details .price::after{
    content: "/mes";
    right: -33px;
    bottom: 17px;
    font-size: 13px;
  }
  .price-details p{
    font-size: 18px;
    margin-top: 5px;
  }
  .row .features li{
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
  }
  .features li i{
    background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .features li span{
    margin-left: 10px;
  }
  .wrapper button{
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
    transition: transform 0.3s ease;
  }
  .wrapper button:hover{
    transform: scale(0.98);
  }