@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

  body {
    display: flex;
    flex-direction: column;
  }
  
  body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid;
  }
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  
    grid-template:
      "header"0.5fr "main"auto "footer"0.3fr;
  }
  
  .header {
    grid-area: header;
    background-image: url(../assets/dia.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .main {
    grid-area: main;
  }
  
  .wrapper2 {
    position: fixed;
    width: 100%;
    background: linear-gradient(-135deg, #AF125E, #AF125E);
    z-index: 2;
  }
  
  .wrapper2 nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .content {
    display: flex;
    align-items: center;
  }
  
  nav .content .links {
    margin-left: 80px;
    display: flex;
  }
  
  .content .logo a {
    max-width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-right: 250px;
  }
  
  .content .links li {
    list-style: none;
    line-height: 70px;
  }
  
  .content .links li a,
  .content .links li label {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .content .links li label {
    display: none;
  }
  
  .content .links li a:hover,
  .content .links li label:hover {
    background: linear-gradient(-135deg, #AF125E, rgba(255, 255, 255, 0.63));
  }
  
  .wrapper2 .search-icon,
  .wrapper2 .menu-icon {
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  
  .wrapper2 .menu-icon {
    display: none;
  }
  
  .wrapper2 #show-search:checked~.search-icon i::before {
    content: "\f00d";
  }
  
  .wrapper2 .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .wrapper2 #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
  }
  
  .search-box input {
    width: 50%;
    height: 50%;
    border: #000000;
    border-radius: 50px;
    outline: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 0 100px 0 15px;
    position: absolute;
    top: 17px;
    left: 270px;
  }
  
  .search-box input::placeholder {
    color: #575757;
  }
  
  .search-box .go-icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  .wrapper2 input[type="checkbox"] {
    display: none;
  }
  
  /* Dropdown Menu del Header*/
  .content .links ul {
    position: absolute;
    top: 80px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(-135deg, #AF125E, rgb(156, 0, 109));
  }
  
  .content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease;
  }
  
  .content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
  }
  
  .content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  
  .content .links ul li {
    position: relative;
  }
  
  .content .links ul li:hover ul {
    top: 0;
  }
  
  /* Cambios para Responsive */
  @media screen and (max-width: 1250px) {
    .wrapper2 nav {
      max-width: 100%;
      padding: 0 20px;
    }
  
    nav .content .links {
      margin-left: 30px;
    }
  
    .content .links li a {
      padding: 8px 13px;
    }
  
    .wrapper2 .search-box {
      max-width: calc(100% - 100px);
    }
  
    .wrapper2 .search-box input {
      padding: 0 100px 0 15px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .wrapper2 .menu-icon {
      display: block;
    }
  
    .wrapper2 #show-menu:checked~.menu-icon i::before {
      content: "\f00d";
    }
  
    nav .content .links {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
      background: linear-gradient(-135deg, #AF125E, rgb(156, 0, 109));
    }
  
    nav #show-menu:checked~.content .links {
      left: 0%;
    }
  
    .content .links li {
      margin: 15px 20px;
    }
  
    .content .links li a,
    .content .links li label {
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
  
    .content .links li a.desktop-link {
      display: none;
    }
  
    /* Dropdown del Responsive */
    .content .links ul,
    .content .links ul ul {
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
  
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
      max-height: 100vh;
    }
  
    .content .links ul li {
      margin: 7px 20px;
    }
  
    .content .links ul li a {
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px !important;
    }
  }
  
  @media screen and (max-width: 400px) {
    .wrapper2 nav {
      padding: 0 10px;
    }
  
    .content .logo a {
      font-size: 27px;
    }
  
    .wrapper2 .search-box {
      max-width: calc(100% - 70px);
    }
  
    .wrapper2 .search-box .go-icon {
      width: 30px;
      right: 0;
    }
  
    .wrapper2 .search-box input {
      padding-right: 30px;
    }
  }
  
  .header__login {
    position: absolute;
    top: 11px;
    left: 1225px;
    width: 50px;
    z-index: 3;
    position: fixed;
  }
  
  .header__cart {
    position: absolute;
    width: 50px;
    z-index: 3;
    top: 11px;
    left: 1150px;
    position: fixed;
  }
  
  /* Texto central */
  


  .wrapper3__container{
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  
  .wrapper3{
    height: 400px;
    width: 250px;
    position: relative;
    top: 150px;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .card1__h1{
    position: absolute;
    bottom: 300px;
    text-align: center;
    left: 60px;
    color: rgb(255, 255, 255);
  }
  
  .card2__h1{
    position: absolute;
    bottom: 300px;
    text-align: center;
    left: 75px;
    color: rgb(255, 255, 255);
  }
  
  .card3__h1{
    position: absolute;
    bottom: 300px;
    text-align: center;
    left: 85px;
    color: white;
  }
  .card4__h1{
    position: absolute;
    bottom: 300px;
    text-align: center;
    left: 45px;
    color: white;
  }
  .wrapper3 .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .wrapper3:hover > .front-face{
    transform: rotateY(-180deg);
  }
  .wrapper3 .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wrapper3 .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
  }
  .wrapper3:hover > .back-face{
    transform: rotateY(0deg);
  }
  .wrapper3 .back-face img{
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
  }
  .wrapper3 .back-face .info{
    text-align: center;
  }
  .back-face .info .title2{
    font-size: 25px;
    font-weight: 500;
  }
  
  .button2{
    width: 50%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
    transition: transform 0.3s ease;
  }
  .button2:hover{
    transform: scale(0.98);
  }
  
  .button2 a{
    color: white;
  }
  
  


.carta__ul{
  text-align: start;
}





.features{
  background: linear-gradient(145deg, rgba(185, 100, 255, 0.651) 0%, #AF125E 100%);
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}










  